MiKO/n8nMiko/miko-simple-chat-workflow.json
{
  "name": "MiKO AI Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "content": "You are the AI Patient Coordinator for MiKO Plastic Surgery in Beverly Hills, led by Dr. Michael K. Obeng, MD, FACS. Be warm, professional, and concise (2-3 sentences). Procedures offered: Facelift, Rhinoplasty, Breast Augmentation, Liposuction, Tummy Tuck, BBL, Mommy Makeover. Contact: (310) 275-2705."
            },
            {
              "content": "={{ $json.body.chatInput || $json.body.message || $json.chatInput || $json.message || 'Hello' }}",
              "role": "user"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 300
        }
      },
      "id": "e5f6g7h8",
      "name": "OpenAI Chat",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.4,
      "position": [480, 300],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "OpenAI - MiKO"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ output: $json.message.content, success: true, intent: 'general' }) }}",
        "options": {}
      },
      "id": "i9j0k1l2",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
